html,body,div,span,iframe,map,font,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th{padding:0;margin:0;border:0;}
body{
    font-family: "微软雅黑",sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
	width: 100%;
	height: 100%;
	/*overflow-x:hidden;*/
}
.navbar-toggle{
	position: fixed !important;
	right: 10px;
}
.navlist,.header>img{
		width: 90%;
		height: 47px;
	}
.navbar-default{
	background-color:transparent !important;
	border: none !important;
}
.null{
	width: 5%;
}
.logo,.header .phonebg{
	margin-left: 2%;
	width: 25%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.content-jpg .content-free table{
	margin-top: -11px;
	margin-left: -7px;
}
@media  (min-width:1350px ){
	
	.content-jpg .content-free table td{
		position: relative;
		left: 20px;
	}
	.setmessage,.setmessage-e,.btn-box button{
		margin-left: 20% !important;
	}
	.fe_container{
		height: 3700px;
	}
}
@media  (max-width:1200px ) {
	.header{
		width:100%;
	}
	.nav{
		width: 967px;
	}
	.fe_container{
		height: 3753px;
	}
}
@media (max-width:1142px ) {
	.fe_container{
		height: 3814px;
	}
}

@media (max-width:962px ) {
	.free_tb_c{
		width: 825px !important;
	}
	.content-jpg .setM .setmessage-e textarea{
		width: 64%;
		height: 100px;
	}
	.content-jpg .btn-box button{
		position: relative;
		top: 9px;
	}
	.fe_container{
		width:100% ;
		height: 3789px;
	}
	.comm{
		width: 100%;
	}
	.reset-p2{
		width: 78% !important;
	}
}
@media (max-width:914px ) {
	.content-jpg .setM .setmessage{
		height: 70px;
		width: 80%;
		margin: 17px auto 0 auto;
	}
	.fe_container{
		width:100% ;
		height: 4048px;
	}
	.content-jpg .setM .setmessage-e{
		width: 80%;
		margin: 0 auto;
	}
	.content-jpg .setM .setmessage span{
		width: 100%;
	}
}
@media (max-width:900px ) {
	.content-free{
		/*display: none;*/
	}
}
@media (max-width:841px ) {
	.header,.free-text-box,.hhmf-top{
		width: 100% !important;
	}
	/*.navlist{
		width: 900px;
	}*/
	.free_title1,.free_tb_c{
		width: 100%;
		
	}
	.free_title1{
		
	}
	#detail_floating,.free-nav{
		display: none;
	}
	.navbar-toggle{
		display: block !important;
		background: #d9edf7 !important;
	}
	.null{
		width: 5%;
	}
	.navlist ul{
		margin-top: 50px;
		background: rgba(0,0,0,0.7);
		border-radius:10px;
		width: 100%;
		margin-left: 0px;
	}
	.navlist ul li{
		float: none;
		width: 80%;
		margin: 0 auto !important;
	}
	.fe_container{
		height: 4048px;
	}

}
@media (max-width: 772px) {
	.fe_container{
		height: 4096px;
	}
}
@media (max-width: 715px) {
	.fe_container{
		height: 4092px;
	}
}
@media (max-width:684px ) {
	
	
	.logo{
		width: 50%;
		margin: 30px auto !important;
	}
	.phonebg{
		display: none;
	}
	.phone{
		width: 40%;
	}
	.hhmf-top{
		height: 164px !important;
	}
	.header{
		height: 117px;
	}
	.header>img{
		top: 134px !important;
	}
	.ng-scope{
		height: 122px !important;
	}
	.footer .content .last div{
		width: 40%;
	}
	.footer .content .last div:last-child{
		width: 100%;
		margin-left: 0 !important;
	}
	.content-jpg .setM{
		width: 100%;
		margin: 45px 0 0 0;
	}
	.content-jpg .setM .setmessage .mtittle{
		width: 29%;
		
		margin: 0 auto;
		margin-left: 0px;
		margin-right: 10px;
	}
	.setmessage label{
		display: block;
	}
	.content-jpg .setM .setmessage{
		height: 87px;
	}
	.content-jpg .setM .setmessage span{
		display: block;
		width: 80%;
		position: relative;
		top: 10px;
	}
	.content-jpg .setM .setmessage input,.content-jpg .setM .setmessage select{
		width: 57%;
		margin: 0 auto !important;
	}
	
	.content-jpg .setM .setmessage-e textarea{
		width: 58%;
	}
	.content-jpg .btn-box button{
		margin-left: -60px;
	}
	.free_title3,
	.free_title2{
		
	}	
}
@media (max-width:692px ) {
		.fe_container{
			height: 4106px;
		}
}
@media (max-width:685px ) {
	.fe_container{
			height: 4281px;
		}
}
@media  (max-width:645px) {
	.fe_container{
		height: 4306px;
    	background-position: 50% 50%;
    	background-size: 646px 4368px;
	}
	.reset-show{
		display: none;
	}
}
@media (max-width:628px ) {
	.fe_container{
		height: 4323px;
	}
}
@media (max-width:608px ) {
	.fe_container{
		height: 4343px;
	}
}

@media (max-width:582px ) {
	.fe_container{
		height: 4363px;
		}
}
@media (max-width:525px ) {
	.fe_container{
		height: 4390px;
		background-size: 646px 4390px;
	}
}
@media (max-width:520px ) {
	.fe_container{
		height: 4418px;
		background-size: 646px 4418px;
	}
}
@media (max-width:506px ) {
	.content-jpg .setM .setmessage-e textarea{
		width: 85%;
		margin-top: 10px;
	}
	.content-jpg .setM .setmessage-e span{
		width: 100%;
	}
	.fe_container{
		height: 4494px;
		background-size: 646px 4494px;
	}
}
@media (max-width:783px ) {
	.footer .content .top{
		width: 70%;
	}
}
@media (max-width:626px ) {
	.footer .content .top{
		width: 80%;
	}
}
@media (max-width:548px ) {
	.footer .content .top{
		width: 90%;
	}
}
@media (max-width:487px ) {
	.footer .content .top{
		width: 100%;
	}
}
@media (max-width:456px ) {
	.footer .content .top{
		width: 50%;
	}
	.footer .content .top .cut:nth-child(4){
		display: none;
	}
	.footer .content .center{
		margin: 54px auto 0 auto;
	}
}

@media (max-width:769px ) {
	.last{
		width: 65%;
		
	}
}