/*轮播图效果*/
.fe_container{
    width: 100%;
    height: 3757px;
    background: url(../images/fe_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
#container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.hhmf{
    position: relative;
    z-index:9;
}
#content{
    height: 2448px;
    background: transparent;
    background-position: 50% 50%;
    margin-top: -226px;
}
#content .content-top {
    width: 100%;
    height: 514px;
    margin: -64px auto 0 auto;
}
.sections,.section {
    height:100%;
}
#container,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
#section0 {
    background-image: url('../../../static/front/images/free-banner1.jpg');
}
#section1 {
    background-image: url('../../../static/front/images/free-banner2.jpg');
}

.pages li{list-style-type:none;width:24px;height:9px;border-radius:10px;background-color:white}
.pages li:hover{box-shadow:0 0 5px 2px white}
.pages li.active{background-color: #14C85F;
}
.pages{position:absolute;z-index:999}
.pages.horizontal{left:50%;transform:translateX(-50%);bottom:5px}
.pages.horizontal li{display:inline-block;margin-right:10px}
.pages.horizontal li:last-child{margin-right:0}
.pages.vertical{right:5px;top:50%;transform:translateY(-50%)}
.pages.vertical li{margin-bottom:10px}
.pages.vertical li:last-child{margin-bottom:0}
.content-jpg {
    margin: 10px auto 0 auto;
    width: 100%;
    height: 780px;
    background: transparent;
}
@font-face {
    font-family: SketchRockwell;
}
.content-jpg-text{
    font-weight: bold;
    width: 372px;
    height: 37px;
    background: linear-gradient(0deg,#ee2324,#f13030,#f65050);
    border-radius: 10px 10px 0 0;
    display: block;
    font-size: 20px;
    font-family: '方正兰亭粗黑简体',sans-serif;
    color: white;
    text-align: center;
    line-height: 37px;
    text-shadow: 1px 1px 3px #333;
}
/*渐变*/
.content-jpg .Places{
    width: 369px;
    height: 45px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 45px;
    background: -webkit-linear-gradient(0deg, #ee2324,#f13030, #f65050); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(0deg, #ee2324,#f13030, #f65050); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(0deg, #ee2324,#f13030, #f65050); /* Firefox 3.6 - 15 */
    background: linear-gradient(0deg, #ee2324,#f13030, #f65050);
}
.content-jpg .content-free{
    background: white;
    margin-top: 15px;
    padding: 15px 20px;
}
.content-jpg .content-free table{
    border-collapse:collapse;
    text-align: center;
    border-radius: 6px 6px 0 0;
    border: 0;
}
.content-jpg .content-free table .trh{
    height: 69px;
    border: 0;
    color: white;
    background: transparent;
}
.content-jpg .content-free table .trh th{
    font-size: 16px;
    font-weight: bold;
}
.content-jpg .content-free table td{
    font-size: 14px;
    height: 50px;
    color: #656565;
    border: 0;
}

/*填写信息*/
.content-jpg .setM{
    margin: 45px 0 0 75px;
}
.content-jpg .setM .setmessage{
    margin-top: 22px;
    height: 39px;
}
.content-jpg .setM .setmessage .mtittle{
    width: 140px;
    height: 39px;
    line-height: 39px;
    color: white;
    font-size: 16px;
    text-align: center;
    float: left;
    background: #589ef4;
}
input{
    width: 285px;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    color: #555555;
    margin-left: 30px;
    background-color: white;
}
.content-jpg .setM .setmessage select{
    height: 37px;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    color: #555555;
    margin-left: 30px;
    background-color: white;
}/*width: 166px;*/
.content-jpg .setM .setmessage input{
    text-indent: 8px;
    height: 39px;
    float: left;
    margin-left: 30px;
}
.content-jpg .setM .setmessage select option{
    background: white;
    padding-left: 8px;
    padding-top: 5px;
}
/*修改下拉箭头*/
.content-jpg .setM .setmessage select{
    padding-left: 8px;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
}
.content-jpg .setM .setmessage select::-ms-expand { display: none; }
.content-jpg .setM .setmessage select{
    width: 285px;
    background: url("../../../static/front/images/sel_01.jpg") no-repeat scroll right center transparent;
}
.content-jpg .setM .setmessage span{
    width: 43%;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    letter-spacing: -1px;
    display: inline-block;
   margin-left: 10px;
}
.content-jpg .setM .setmessage-e{
    margin-top: 18px;
    height: 130px;
}
.content-jpg .setM .setmessage-e .mtittle{
    width: 140px;
    height: 53px;
    color: white;
    padding-top: 8px;
    font-size: 16px;
    text-align: center;
    float: left;
    background: #589ef4;

}
.content-jpg .setM .setmessage-e textarea{
    resize: none;
    padding-top: 5px;
    float: left;
    width: 700px;
    height: 125px;
    max-width: 727px;
    max-height: 130px;
    color: #555555;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    text-indent: 8px;
    margin-left: 30px;
}
.content-jpg .setM .setmessage-e span{
    font-size: 12px;
    display: block;
    float: left;
    width: 182px;
    height: 42px;
    text-align: center;
    color: #666;
}
/*按钮*/
.content-jpg .btn-box{
    float: right;
    margin-right: 20px;
}
.content-jpg .btn-box button{
    width: 204px;
    border: none;
    height: 42px;
    line-height: 42px;
    background: url(../images/fe_conf.png);
    cursor: pointer;
    outline: none;
    margin-left: 80px;
}
.free_title1{
    width: 84%;
    height: 295px;
    margin: 0 auto;
    background: url(../images/free_title1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.free_title2{
    width: 70%;
    height: 156px;
    margin: 16px auto 0 auto;
    background: url(../images/free_title2.png);
    background-size: 100% 100%;
   background-repeat: no-repeat;
}
.free_title3{
    width: 80%;
    height: 168px;
    margin: 0 auto;
    background: url(../images/free_title3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.free_tb_c{
    width: 90%;
    height: 677px;
    position: absolute;
    left: 4%;
    background: url(../images/free_tdg.png);
    background-size: 100% 100%;
}
.free_tb{
    position: absolute;
    top: 0;
    left: 32px;
}